
Build/VMatrix.obj
Build/Vector4D.obj
Build/Vector3D.obj
Build/Vector2D.obj
Build/vc142.pdb
Build/vc142.idb
Build/UtlString.obj
Build/UtlBuffer.obj
Build/Utils.obj
Build/trampoline.obj
Build/SpoofedConvar.obj
Build/SkinChanger.obj
Build/SDK.obj
Build/Render.obj
Build/NetVars.obj
Build/Movement.obj
Build/MODESTIA.tlog/MODESTIA.write.1u.tlog
Build/MODESTIA.tlog/MODESTIA.lastbuildstate
Build/MODESTIA.tlog/link.write.1.tlog
Build/MODESTIA.tlog/link.read.1.tlog
Build/MODESTIA.tlog/link.command.1.tlog
Build/MODESTIA.tlog/CL.write.1.tlog
Build/MODESTIA.tlog/CL.read.1.tlog
Build/MODESTIA.tlog/CL.command.1.tlog
Build/ModelChanger.obj
Build/Menu.obj
Build/Memory.obj
Build/Math.obj
Build/Main.obj
Build/KitParser.obj
Build/ItemsDefs.obj
Build/InputSys.obj
Build/imgui_impl_dx9.obj
Build/imgui_draw.obj
Build/imgui.obj
Build/Hooks.obj
Build/hook.obj
Build/hde64.obj
Build/hde32.obj
Build/CSGOStructs.obj
Build/CSGOSimple.log
Build/Convar.obj
Build/ConfigSys.obj
Build/Configs.obj
Build/Color.obj
Build/ChecksumMd5.obj
Build/ChecksumCrc.obj
Build/CharacterSet.obj
Build/buffer.obj
Bin/Release/modestia.ipdb
Bin/Release/modestia.iobj
Bin/Release/modestia.dll
Bin/Release/injector.exe
Bin/Debug/modestia.pdb
Bin/Debug/modestia.ilk
Bin/Debug/modestia.dll
Bin/Debug/injector.exe
.vs/MODESTIA/v16/ipch/AutoPCH/f70965b995de2f06/SKINCHANGER.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/cfeb3665189bcbf2/HOOKS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/c863593115853fa6/MENU.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/ae60d07b2b76e18e/CONFIGSYS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/8efd3e9a62e46438/CONFIGSYS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/734590d46a24f40c/FNV.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/5828e8338592617f/RENDER.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/52de5ef53a1d6929/RENDER.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/43f855eadee2b4b4/HOOKS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/3b849f6ab571154a/MOVEMENT.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/2dac31dc69a2419c/MENU.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/192fb797760476da/MODELCHANGER.ipch
.vs/MODESTIA/v16/Browse.VC.db
.vs/MODESTIA/v16/.suo
.vs/MODESTIA/v16/ipch/AutoPCH/e6a00eff3ca012e1/GRENADEPREDICTION.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/ae6071a9ca82f63a/SDK.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/2ba3c138c5a2d762/MATH.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/195c6ab94f1383e9/MAIN.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/11efd5ff5528af58/GRENADEPREDICTION.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/fedf70ae49698118/MEMORY.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/ea606644291c0620/KITPARSER.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/c3bda8bf29fd8321/MENU.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/b3973d9090a0fcac/CSGOSTRUCTS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/878dcbe678b50a3f/ITEMSDEFS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/7c66f02287ed094a/UTILS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/6ba915362d8b96c1/HOOK.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/6671cffd275d90c5/INPUT.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/5e3413e4f125304a/INPUTSYS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/1cf597d93d3099fc/CONFIGS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/154b16e4bff4ebff/NETVARS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/1c5207ea0a746703/CONVAR.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/bc7ad0c0f9e3ebe3/CHARACTERSET.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/5ec50d8c374174fe/NAMESTEALER.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/637a1b883d6e109c/SKINCHANGER.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/79a42e90a4b3a33/IMGUI.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/d1f9605216164dcc/NAMESTEALER.ipch
Build/NameStealer.obj
Build/Platform.obj
Build/modestia.Build.CppClean.log
Build/Misc.obj
Build/FixAnimations.obj
Build/CSGOSimple.vcxproj.FileListAbsolute.txt
.vs/MODESTIA/v16/ipch/AutoPCH/e111153dddc865ab/BASE_GCMESSAGES.PB.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/c86de40c7cb98bf0/PLATFORM.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/be603e7457004c76/VMTHOOK.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/b35ae4c88e16ca9b/MENU.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/b21f582bb1204d65/MODELCHANGER.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/b04dba5241055249/INVENTORYCHANGER.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/9a81886aa1e7e4c6/VMTHOOK.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/92e254f9c6c429b2/MATH.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/8e86e57868461eda/MISC.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/896c8483e1b4128f/EVENTDISPATCHER.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/80af1fe46e09d529/FIXANIMATIONS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/70cacd507f33379a/CONFIGS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/696cd8574d6592ba/FIXANIMATIONS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/670e3006341fe967/HOOKS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/4fdc5f03c2ebcd43/DESYNC.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/402532783bc268d7/MISC.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/38e2d9660df460f0/MENU.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/3368c4183548f7c9/STEAMDATAGRAM_MESSAGES.PB.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/31f9bb9fdfca3883/STEAMENCRYPTEDAPPTICKET.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/31cf068ccd226844/MENU.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/29d5ed0cb47f76e9/PLATFORM.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/27cbff5c5676d7c2/STEAMENCRYPTEDAPPTICKET.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/22ad16e439271330/FIXANIMATIONS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/1cbda557225297b7/FIXANIMATIONS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/1949032c402f97a0/BASE_GCMESSAGES.PB.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/133a0203a093d696/DESYNC.ipch
.vs/MODESTIA/v16/Browse.VC.opendb
.vs/MODESTIA/v16/Browse.VC.db-wal
.vs/MODESTIA/v16/Browse.VC.db-shm
Build/EnginePrediction.obj
.vs/MODESTIA/v16/ipch/AutoPCH/b1efa6848cd3af80/MENU.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/3dc8c23f6d268944/ENGINEPREDICTION.ipch
Build/Visuals.obj
.vs/MODESTIA/v16/ipch/AutoPCH/f6f92b23c9a7d23f/VISUALS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/dfebc24ecaba2419/CSGOSTRUCTS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/ba564e23a74f0212/VISUALS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/ad7c17d8bc46727e/HOOKS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/807a802134e1a029/VMATRIX.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/76d86a8d60297511/CONFIGS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/5e29cf4c8967596c/VECTOR3D.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/533f9739a6b4fb35/UTLBUFFER.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/4a20db590bd141d7/VECTOR4D.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/184ef1316faa5f2d/VECTOR2D.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/ef1b3ffd6209bc61/ADR_UTIL.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/c9673b4deaa82865/CONFIG.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/9f6c699f3b7ecb29/UI.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/528be39160147ca4/CONFIG.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/273c1c91478be02d/CONFIG.ipch
Build/MODESTIA.tlog/CL.10656.write.1.tlog
.vs/MODESTIA/v16/ipch/AutoPCH/1086e5e8aee84f3f/KIT_PARSER.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/355e42b9b9a6e0b3/SKINCHANGER.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/493bef445eb79259/KITPARSER.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/4d7379cda01d1f01/VMTSMARTHOOK.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/515aa0319a370939/ITEMDEFINITIONS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/6418c3e050537cb7/CONFIG_.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/7ef7bc84cf381b88/ITEMSDEFINITIONS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/83adb7315abafecb/ITEM_DEFINITIONS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/847d119308028107/CONFIGSYS.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/b9193f9222b1238e/IITEMSCHEMA.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/d3e408e88c8f7f12/KIT_PARSER.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/f4319731660c3800/ITEMDEFINITIONS.ipch
Build/InputSystem.obj
Build/ItemDefinitions.obj
.vs/MODESTIA/v16/ipch/AutoPCH/7cbeb04101f1c9e2/INPUTSYSTEM.ipch
.vs/MODESTIA/v16/ipch/AutoPCH/e2b30b982e99d2d4/SDK.ipch
